*{
margin:0;
padding:0;
box-sizing:border-box;
}

:root{

--coral:#D98A7A;
--bluegrey:#8F9AA4;
--olive:#9C9D7B;
--turquoise:#7FA6A0;
--orange:#C99767;
--brown:#A28E7A;

}

body{

font-family:"CMMCodaNormalizedUnlicensedTrial-MonoSerif";
overflow:hidden;
/* background:#ece8df; */
background:#989898;
/* background:#b3b3b3; */
/* background:#7c7979; */
background:#979393;
/* background:#c0bcbc; */


}

 /* @font-face {
  font-family: 'ABCMaxiPlus';
  src: url('./font/ABCMaxiPlusVariable-Trial.ttf'); 
  font-weight: 400;
}
 @font-face {
  font-family: 'SourceCode';
  src: url('./font/SourceCodeVF-Upright.otf'); 
  font-weight: 400;
}
 @font-face {
  font-family: 'Montserrat';
  src: url('./font/Montserrat-Light.otf'); 
  font-weight: 400;
}
 @font-face {
  font-family: 'Newsreader';
  src: url('./font/Newsreader[opsz,wght].ttf'); 
  font-weight: 400;
}
 @font-face {
  font-family: 'SourceSerif';
  src: url('./font/SourceSerifVariable-Roman.otf'); 
  font-weight: 400;
} */

@font-face {
 font-family: 'CMMCodaNormalizedUnlicensedTrial-MonoSerif';
 src: url('./font/CMMCodaNormalizedUnlicensedTrial-MonoSerif.otf'); 
 font-weight: 400;
}
@font-face {
 font-family: 'officecodeprod';
 src: url('./font/officecodeprod-light.otf'); 
 font-weight: 400;
}

/* @font-face {
 font-family: 'SerifbabeSIGMA';
 src: url('./font/SerifbabeSIGMATest-Regular.otf'); 
 font-weight: 400;
}

@font-face {
 font-family: 'NewEdge666';
 src: url('./font/NewEdge666Test-LightRounded.otf'); 
 font-weight: 400;
} */
/* INTRO */

/* #intro{

position:fixed;
inset:0;

display:flex;
justify-content:center;
align-items:center;

background:#ece8df;

z-index:999;

transition:1.2s;

} */

#intro{

    position:fixed;
    inset:0;

    display:flex;
    justify-content:center;
    align-items:end;
background-image:url("img/textured-paper.png");
opacity: 1.2;
backdrop-filter: blur(0.7px);
    /* background:#ece8df; */
    /* background:#c2bfbf;;

    opacity: 0.84; */


    z-index:999;

}

.intro-message{

    max-width:350px;
   
    padding:30px;
 text-align:left;
color: white;

}

.intro-line{

    font-family:"CMMCodaNormalizedUnlicensedTrial-MonoSerif";
    text-transform:lowercase;
    
    font-size:1.6rem;


    /* letter-spacing:.1em; */

    line-height:1.15;

    margin-bottom:24px;



}

.intro-subline{

    font-family:"CMMCodaNormalizedUnlicensedTrial-MonoSerif";


    font-size:1.15rem;

    line-height:1.2;
     margin-bottom:35px;

  
}

/* .intro-message{

    text-align:center;

}

.intro-line{

    font-family:"SourceCode";

    letter-spacing:.15em;

    opacity:.85;

    transition:1.5s ease;

}

.second{

    margin-top:24px;

    opacity:0;

} */

#intro.hide{

    opacity:0;
    pointer-events:none;

}

/* #intro.hide{

opacity:0;
pointer-events:none;

} */

#hint{

    position:absolute;


    left:50%;
    bottom:40px;

    transform:translateX(-50%);

    font-size:.75rem;

    letter-spacing:.18em;

    opacity:.65;

    z-index:150;

    transition:1s;

}

/* REGISTERBLATT */

#archive{

/* background:

linear-gradient(
180deg,
#ccccc8 0%,
#b7b7b6 100%
); */
/* background-image:url("img/BDFM1.png"); */
/* background-color:rgb(88, 88, 88); */
/* background-color:rgb(89, 80, 255); */
background-size:cover;
background-position:center;
background-repeat:no-repeat;

position:fixed;
inset:0;
overflow:hidden;

}



/* Papierstruktur */

#archive::after{
background-image:url("img/textured-paper.png");
opacity: 0.7;
content:"";

position:absolute;
inset:0;

/* opacity:.18;

background-image:

radial-gradient(
rgba(0,0,0,.12) .6px,
transparent 1px
);

background-size:6px 6px; */

pointer-events:none;

}

/* #archive::before{

content:"";

position:absolute;

top:0;
left:75px;
right:25px;
bottom:0;

background:

repeating-linear-gradient(

to bottom,

transparent 0px,
transparent 52px,

rgba(0,0,0,.08) 53px,
rgba(0,0,0,.08) 54px

);

pointer-events:none;

} */




/* LOCHUNG */

#holes{

position:absolute;

left:18px;
top:30px;

display:flex;
flex-direction:column;

gap:54px;

z-index:70;

}

.hole{

background:white;

box-shadow:
inset 0 0 8px rgba(0,0,0,.15),
0 2px 4px rgba(0,0,0,.08);

}
/* .round{

width:32px;
height:32px;

border-radius:50%;

} */

.oval{

width:22px;
height:56px;

border-radius:40px;

}
.round,
.dot{

width:18px;
height:18px;
border-radius:50%;

}
/* PUNKTE */




/* FRAGMENTE */

#fragments{

position:relative;

display:grid;

grid-template-columns:
1fr 1fr 1fr;

height:95vh;

padding:

90px
40px
120px
60px;

z-index:50;

}

.fragment{

position:absolute;
 width:120px;
 max-width:120px;
cursor:pointer;

 opacity:0;

    transition:
    opacity 1.5s ease,
    transform .4s ease;
}


.fragment small{

display:block;

opacity:1;
font-size: 15px;
color: #ff4d31;

margin-bottom:6px;

}

.fragment h3{
  

font-family:"CMMCodaNormalizedUnlicensedTrial-MonoSerif";
/* text-transform: uppercase; */
color: rgb(236, 236, 236);

text-decoration:underline;
text-transform: lowercase;
    text-decoration-thickness: 1.9px;
/* color: rgb(255, 255, 255); */

font-size:1.7rem;
letter-spacing:0.15em;
line-height: 0.9;


font-weight:100;

margin-bottom:10px;

/* transition:
    transform .35s ease,
    letter-spacing .35s ease,
    opacity .35s ease; */

}

.fragment:hover h3{

    /* transform:translateX(6px); */
    color: #ff4d31;

    /* letter-spacing:0.04em; */

}

.arrow{

    font-size:1.8rem;
    display:inline-block;
    color: rgb(255, 77, 0);
    margin-top:-6px;
   transition:.4s;
   

    animation:pulseArrow 2.5s ease-in-out infinite;



}

.fragment:hover .arrow{

transform:translateX(10px);

}

/* OVERLAY */

#overlay{

position:fixed;
inset:0;

display:flex;
justify-content:center;
align-items:center;

pointer-events:none;

z-index:200;

}

#document{

    display:none;

    width:min(88vw,650px);

    /* max-height:78vh; */

    position:absolute;

    /* top:40px;
    left:50%; */

    top:0px;
    left:56%;

    transform:translateX(-50%);

    height:calc(100vh - 0px);

    max-height:none;

    overflow-y:auto;

    opacity:1;

pointer-events:none;

background:
rgba(247,243,232,.95);

backdrop-filter:blur(2px);

overflow:auto;

transition:.45s ease;

 border-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAAAAXNSR0IArs4c6QAAAW9JREFUeF7t3MtKA0EURdHK/3+04kRoFYpwd9VAlrMQs9OsPj6gm7zWWh/r+fX68Xj68HR/d3yn3//R/8K7+oZrrfqEAd0JxM9fHYyFzs/erx/5eVLhW+D277N/Tw80PsVAgcYCcc5CgcYCcc5CgcYCcc5CgcYCcc5CgcYCcc5CgcYCcc5CgcYCcc5CgcYCcc5CD4BevSroMvL8DJ4+YbsjPP3+bnTYnYE3nwf6Jtju212X3wlNnvdXfqL3x2uBAo0F4pyFAo0F4pyFAo0F4pyFAo0F4pyFAo0F4pyFAo0F4pyFAo0F4pyFAo0F4pyFAo0F4pyFAo0F4pyFAo0F4pyFAo0F4pyFAo0F4pwPcZmDuvtubvgoAAU6E7h+B/PscL36IeDfpngQQIHGAnHOQoHGAnHOQoHGAnHOQoHGAnHOQoHGAnHOQoHGAnHOQoHGAnHOQoHGAnHOQoHGAnHOdfk5qMvIc8NHASjQmcDV6/KfzItARY5qu40AAAAASUVORK5CYII=') 28 /  28px / 0 round;
    border-width:  28px;
    border-style:  solid; 

  
/* box-shadow:
0 10px 40px rgba(0,0,0,.18);

border:
1px solid rgba(0,0,0,.08); */
/* 
 border-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAgElEQVQ4T2NkQAI5NZH/p7QsZ0QWI4aNrg9sAEwQnSZkIC59cFeBFMAMweZaXL7Apo8RWRDdZTDDsWnEp482LqVpmCIbTiiC0OWxxj6phhBST3KaJGQgSB7FUKomflh44kunuFyINZ3SLJsSE06kqBliETVaSoELaqqVp0OmlAIAfVbclkpkUXIAAAAASUVORK5CYII=') 7 /  7px / 0 round;
    border-width:  7px;
    border-style:  solid;  */


}

#document.open{
  display:block;

transform:
translate(-50%,0);


background-image:url("img/textured-paper.png");
opacity: 0.92;


pointer-events:auto;

}
#archive.dim{

opacity:.65;

}


#archive.blur{

opacity:.35;

}




.document-inner{

padding:50px 6px 30px;

}

/* #large-title{

font-family:"Cormorant Garamond";

font-size:clamp(3rem,14vw,6rem);

line-height:.82;

letter-spacing:-0.03em;

margin-bottom:40px;

} */

#large-title{

    margin-bottom:50px;
    color: #ff4d31;
    /* text-decoration: underline;
    text-decoration-thickness: 1.7px; */
    font-family:"CMMCodaNormalizedUnlicensedTrial-MonoSerif";
    text-transform: lowercase;
  

}

.title-word{

    font-size:clamp(2.6rem,8vw,5.5rem);

    line-height:1;

}

.title-word.left{

    text-align:left;

}

.title-word.center{

    text-align:center;

    margin-left:40px;

}

.title-word.right{

    text-align:right;

}

#year{

margin-bottom:30px;
font-size: 28px;
   text-decoration: underline;
    text-decoration-thickness: 1.7px;
/* opacity:.6; */
color: #ff4d31;

}

#location{

font-family:"officecodeprod";

 hyphens: auto;
  overflow-wrap: break-word;
font-size: 15px;
margin-bottom:29px;
color: rgb(35, 35, 35);


letter-spacing:.07em;

}

#story-text{
font-family:"CMMCodaNormalizedUnlicensedTrial-MonoSerif";
  hyphens: auto;
  overflow-wrap: break-word;
font-size: 14.4px;
color: #4f4f4f;
text-align: left;
line-height:1.2;
margin-bottom:40px;

}

/* #quote{

margin-bottom:50px;

font-style:italic;

} */



#closeBtn{

width:100%;
font-family:"CMMCodaNormalizedUnlicensedTrial-MonoSerif";

padding:18px;

border:none;

background:transparent;

/* color:rgb(67, 67, 67); */
color:#565656;
text-decoration-line: underline;
margin-bottom: 2px;

}

#document:hover #closeBtn{

    
    color: #ff4d31;
  

}

@keyframes pulseArrow{

    0%,100%{

        transform:translateX(0);

    }

    50%{

        transform:translateX(5px);

    }

}

#archive-info{

    position:absolute;

    top:32px;
    right:32px;

    width:90px;

    text-align:right;

    background:
    b3b3b3;

    padding:
    1px
    5px;

    /* border:
    1px solid rgba(0,0,0,.08); */


}

.archive-title{

    font-family:"CMMCodaNormalizedUnlicensedTrial-MonoSerif";

    font-size:1rem;
    color: rgb(242, 242, 242);

    letter-spacing:.1em;

    margin-bottom:5px;

    opacity:1;

}
/* .archive-text{

    font-family:"CMMCodaNormalized";

    font-size:.95rem;

    line-height:1.5;

    opacity:.7;

    margin-bottom:14px;

} */

.archive-action{

    font-family:"CMMCodaNormalizedUnlicensedTrial-MonoSerif";
    text-align: right;
color: rgb(234, 234, 234);
    font-size:.98rem;
    line-height:1.15 ;
    

    /* letter-spacing:.12em; */

    opacity:1

}

@media(max-width:768px){

    #archive-info{

        top:22px;
        right:20px;

        max-width:180px;

    }

    .archive-title{

        font-size:.9rem;

    }

    .archive-text{

        font-size:.8rem;

    }

    .archive-action{

        font-size:.73rem;

    }
    .fragment{

    width:100px;
    max-width:100px;

}

.fragment h3{

    font-size:1.5rem;
    line-height:1;

}

}

#mirror-animation{

    position:absolute;
    inset:0;

    pointer-events:none;

    z-index:60;
}

.mirror-frame{

    position:absolute;
    inset:0;

    width:100%;
    height:100%;

    object-fit:cover;
    /* transform:translateX(-10mm); */
    transform: scale(1.1) translateX(-6mm) translateY(10mm);

    opacity:0;


    transition:
    opacity 2.5s ease;
    

}

.mirror-frame.active{

    opacity:0.3;

}